.list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
.list ul li {
	float: left;
	padding-right: 50px;
	margin-top: 10px;
	display: inline;
}
.list ul li{
	padding-right: 0;
}
.list ul li a{
	font-weight: 20px;
	color:#0584F2;
	font-size: 17px;
	padding-right: 50px;
	margin-left: 20px;
}
.list ul li a:hover {
	color:#132226;
	
}
.list {
	padding: 2% 0%;

}
.header-nav{

 	background-color: #403e3e;
}
.logo img{
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 10px;
}
.header {
	width:100%;
	border-bottom: 1px solid white;
	background-color:#F1F3F2;
	position:fixed;
	z-index:+1;
}
 .jobs table tr
{
	margin: 5px;
	border:2px solid black;

}
.jobs table tr td 
{
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 10px;

}
.jobs table th
{
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 10px;
}
.jobs table tr td a img
{
	width: 50px;
	height:50px;
}

